<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Bringer-cam-dev.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>15</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>9DA21EE2F8E3FC744CDEECFDA69F094D480A2415</string>
				<key>dateExpires</key>
				<string>22/08/25</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9DA21EE2F8E3FC744CDEECFDA69F094D480A2415</string>
						<key>dateExpires</key>
						<string>22/08/25</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>J3MA58PS4Y.com.smoose.photoowldev.AddImageIntent</string>
						<key>com.apple.developer.team-identifier</key>
						<string>J3MA58PS4Y</string>
						<key>get-task-allow</key>
						<false/>
					</dict>
					<key>name</key>
					<string>AddImageIntent.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>99368692-4773-412a-b45a-0301676be292</string>
						<key>dateExpires</key>
						<string>25/08/25</string>
						<key>name</key>
						<string>iOS Team Ad Hoc Provisioning Profile: com.smoose.photoowldev.AddImageIntent</string>
					</dict>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J3MA58PS4Y</string>
						<key>name</key>
						<string>SMOOSE TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9DA21EE2F8E3FC744CDEECFDA69F094D480A2415</string>
						<key>dateExpires</key>
						<string>22/08/25</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J3MA58PS4Y</string>
						<key>name</key>
						<string>SMOOSE TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9DA21EE2F8E3FC744CDEECFDA69F094D480A2415</string>
						<key>dateExpires</key>
						<string>22/08/25</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AppAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J3MA58PS4Y</string>
						<key>name</key>
						<string>SMOOSE TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.7.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9DA21EE2F8E3FC744CDEECFDA69F094D480A2415</string>
						<key>dateExpires</key>
						<string>22/08/25</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>DKImagePickerController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J3MA58PS4Y</string>
						<key>name</key>
						<string>SMOOSE TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>4.3.9</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9DA21EE2F8E3FC744CDEECFDA69F094D480A2415</string>
						<key>dateExpires</key>
						<string>22/08/25</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>DKPhotoGallery.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J3MA58PS4Y</string>
						<key>name</key>
						<string>SMOOSE TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.19</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9DA21EE2F8E3FC744CDEECFDA69F094D480A2415</string>
						<key>dateExpires</key>
						<string>22/08/25</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J3MA58PS4Y</string>
						<key>name</key>
						<string>SMOOSE TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>2.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9DA21EE2F8E3FC744CDEECFDA69F094D480A2415</string>
						<key>dateExpires</key>
						<string>22/08/25</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FMDB.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J3MA58PS4Y</string>
						<key>name</key>
						<string>SMOOSE TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>2.7.11</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9DA21EE2F8E3FC744CDEECFDA69F094D480A2415</string>
						<key>dateExpires</key>
						<string>22/08/25</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseABTesting.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J3MA58PS4Y</string>
						<key>name</key>
						<string>SMOOSE TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>10.27.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9DA21EE2F8E3FC744CDEECFDA69F094D480A2415</string>
						<key>dateExpires</key>
						<string>22/08/25</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseAppCheckInterop.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J3MA58PS4Y</string>
						<key>name</key>
						<string>SMOOSE TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>10.27.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9DA21EE2F8E3FC744CDEECFDA69F094D480A2415</string>
						<key>dateExpires</key>
						<string>22/08/25</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J3MA58PS4Y</string>
						<key>name</key>
						<string>SMOOSE TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>10.22.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9DA21EE2F8E3FC744CDEECFDA69F094D480A2415</string>
						<key>dateExpires</key>
						<string>22/08/25</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseAuthInterop.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J3MA58PS4Y</string>
						<key>name</key>
						<string>SMOOSE TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>10.27.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9DA21EE2F8E3FC744CDEECFDA69F094D480A2415</string>
						<key>dateExpires</key>
						<string>22/08/25</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J3MA58PS4Y</string>
						<key>name</key>
						<string>SMOOSE TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>10.22.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9DA21EE2F8E3FC744CDEECFDA69F094D480A2415</string>
						<key>dateExpires</key>
						<string>22/08/25</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreExtension.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J3MA58PS4Y</string>
						<key>name</key>
						<string>SMOOSE TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>10.22.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9DA21EE2F8E3FC744CDEECFDA69F094D480A2415</string>
						<key>dateExpires</key>
						<string>22/08/25</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreInternal.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J3MA58PS4Y</string>
						<key>name</key>
						<string>SMOOSE TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>10.27.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9DA21EE2F8E3FC744CDEECFDA69F094D480A2415</string>
						<key>dateExpires</key>
						<string>22/08/25</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseDatabase.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J3MA58PS4Y</string>
						<key>name</key>
						<string>SMOOSE TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>10.22.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9DA21EE2F8E3FC744CDEECFDA69F094D480A2415</string>
						<key>dateExpires</key>
						<string>22/08/25</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J3MA58PS4Y</string>
						<key>name</key>
						<string>SMOOSE TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>10.27.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9DA21EE2F8E3FC744CDEECFDA69F094D480A2415</string>
						<key>dateExpires</key>
						<string>22/08/25</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseMessaging.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J3MA58PS4Y</string>
						<key>name</key>
						<string>SMOOSE TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>10.22.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9DA21EE2F8E3FC744CDEECFDA69F094D480A2415</string>
						<key>dateExpires</key>
						<string>22/08/25</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebasePerformance.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J3MA58PS4Y</string>
						<key>name</key>
						<string>SMOOSE TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>10.22.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9DA21EE2F8E3FC744CDEECFDA69F094D480A2415</string>
						<key>dateExpires</key>
						<string>22/08/25</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseRemoteConfig.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J3MA58PS4Y</string>
						<key>name</key>
						<string>SMOOSE TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>10.27.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9DA21EE2F8E3FC744CDEECFDA69F094D480A2415</string>
						<key>dateExpires</key>
						<string>22/08/25</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseRemoteConfigInterop.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J3MA58PS4Y</string>
						<key>name</key>
						<string>SMOOSE TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>10.27.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9DA21EE2F8E3FC744CDEECFDA69F094D480A2415</string>
						<key>dateExpires</key>
						<string>22/08/25</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseSessions.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J3MA58PS4Y</string>
						<key>name</key>
						<string>SMOOSE TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>10.27.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9DA21EE2F8E3FC744CDEECFDA69F094D480A2415</string>
						<key>dateExpires</key>
						<string>22/08/25</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseSharedSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J3MA58PS4Y</string>
						<key>name</key>
						<string>SMOOSE TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>10.22.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9DA21EE2F8E3FC744CDEECFDA69F094D480A2415</string>
						<key>dateExpires</key>
						<string>22/08/25</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseStorage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J3MA58PS4Y</string>
						<key>name</key>
						<string>SMOOSE TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>10.22.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9DA21EE2F8E3FC744CDEECFDA69F094D480A2415</string>
						<key>dateExpires</key>
						<string>22/08/25</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J3MA58PS4Y</string>
						<key>name</key>
						<string>SMOOSE TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9DA21EE2F8E3FC744CDEECFDA69F094D480A2415</string>
						<key>dateExpires</key>
						<string>22/08/25</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMAppAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J3MA58PS4Y</string>
						<key>name</key>
						<string>SMOOSE TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.3.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9DA21EE2F8E3FC744CDEECFDA69F094D480A2415</string>
						<key>dateExpires</key>
						<string>22/08/25</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J3MA58PS4Y</string>
						<key>name</key>
						<string>SMOOSE TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9DA21EE2F8E3FC744CDEECFDA69F094D480A2415</string>
						<key>dateExpires</key>
						<string>22/08/25</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J3MA58PS4Y</string>
						<key>name</key>
						<string>SMOOSE TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>9.4.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9DA21EE2F8E3FC744CDEECFDA69F094D480A2415</string>
						<key>dateExpires</key>
						<string>22/08/25</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleSignIn.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J3MA58PS4Y</string>
						<key>name</key>
						<string>SMOOSE TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>6.2.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9DA21EE2F8E3FC744CDEECFDA69F094D480A2415</string>
						<key>dateExpires</key>
						<string>22/08/25</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J3MA58PS4Y</string>
						<key>name</key>
						<string>SMOOSE TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>7.13.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9DA21EE2F8E3FC744CDEECFDA69F094D480A2415</string>
						<key>dateExpires</key>
						<string>22/08/25</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Promises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J3MA58PS4Y</string>
						<key>name</key>
						<string>SMOOSE TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>2.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9DA21EE2F8E3FC744CDEECFDA69F094D480A2415</string>
						<key>dateExpires</key>
						<string>22/08/25</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RecaptchaInterop.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J3MA58PS4Y</string>
						<key>name</key>
						<string>SMOOSE TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>100.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9DA21EE2F8E3FC744CDEECFDA69F094D480A2415</string>
						<key>dateExpires</key>
						<string>22/08/25</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J3MA58PS4Y</string>
						<key>name</key>
						<string>SMOOSE TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>5.19.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9DA21EE2F8E3FC744CDEECFDA69F094D480A2415</string>
						<key>dateExpires</key>
						<string>22/08/25</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftyGif.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J3MA58PS4Y</string>
						<key>name</key>
						<string>SMOOSE TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>5.4.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9DA21EE2F8E3FC744CDEECFDA69F094D480A2415</string>
						<key>dateExpires</key>
						<string>22/08/25</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Toast.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J3MA58PS4Y</string>
						<key>name</key>
						<string>SMOOSE TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>4.1.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9DA21EE2F8E3FC744CDEECFDA69F094D480A2415</string>
						<key>dateExpires</key>
						<string>22/08/25</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>camera_avfoundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J3MA58PS4Y</string>
						<key>name</key>
						<string>SMOOSE TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9DA21EE2F8E3FC744CDEECFDA69F094D480A2415</string>
						<key>dateExpires</key>
						<string>22/08/25</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>file_picker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J3MA58PS4Y</string>
						<key>name</key>
						<string>SMOOSE TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9DA21EE2F8E3FC744CDEECFDA69F094D480A2415</string>
						<key>dateExpires</key>
						<string>22/08/25</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>file_saver.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J3MA58PS4Y</string>
						<key>name</key>
						<string>SMOOSE TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9DA21EE2F8E3FC744CDEECFDA69F094D480A2415</string>
						<key>dateExpires</key>
						<string>22/08/25</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_contacts.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J3MA58PS4Y</string>
						<key>name</key>
						<string>SMOOSE TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9DA21EE2F8E3FC744CDEECFDA69F094D480A2415</string>
						<key>dateExpires</key>
						<string>22/08/25</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_local_notifications.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J3MA58PS4Y</string>
						<key>name</key>
						<string>SMOOSE TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9DA21EE2F8E3FC744CDEECFDA69F094D480A2415</string>
						<key>dateExpires</key>
						<string>22/08/25</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>fluttertoast.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J3MA58PS4Y</string>
						<key>name</key>
						<string>SMOOSE TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9DA21EE2F8E3FC744CDEECFDA69F094D480A2415</string>
						<key>dateExpires</key>
						<string>22/08/25</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>image_picker_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J3MA58PS4Y</string>
						<key>name</key>
						<string>SMOOSE TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9DA21EE2F8E3FC744CDEECFDA69F094D480A2415</string>
						<key>dateExpires</key>
						<string>22/08/25</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>leveldb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J3MA58PS4Y</string>
						<key>name</key>
						<string>SMOOSE TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.22.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9DA21EE2F8E3FC744CDEECFDA69F094D480A2415</string>
						<key>dateExpires</key>
						<string>22/08/25</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J3MA58PS4Y</string>
						<key>name</key>
						<string>SMOOSE TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>2.30909.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9DA21EE2F8E3FC744CDEECFDA69F094D480A2415</string>
						<key>dateExpires</key>
						<string>22/08/25</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>package_info_plus.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J3MA58PS4Y</string>
						<key>name</key>
						<string>SMOOSE TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>0.4.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9DA21EE2F8E3FC744CDEECFDA69F094D480A2415</string>
						<key>dateExpires</key>
						<string>22/08/25</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>path_provider_foundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J3MA58PS4Y</string>
						<key>name</key>
						<string>SMOOSE TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9DA21EE2F8E3FC744CDEECFDA69F094D480A2415</string>
						<key>dateExpires</key>
						<string>22/08/25</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>shared_preferences_foundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J3MA58PS4Y</string>
						<key>name</key>
						<string>SMOOSE TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9DA21EE2F8E3FC744CDEECFDA69F094D480A2415</string>
						<key>dateExpires</key>
						<string>22/08/25</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>sign_in_with_apple.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J3MA58PS4Y</string>
						<key>name</key>
						<string>SMOOSE TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9DA21EE2F8E3FC744CDEECFDA69F094D480A2415</string>
						<key>dateExpires</key>
						<string>22/08/25</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>sqflite.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J3MA58PS4Y</string>
						<key>name</key>
						<string>SMOOSE TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9DA21EE2F8E3FC744CDEECFDA69F094D480A2415</string>
						<key>dateExpires</key>
						<string>22/08/25</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>url_launcher_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J3MA58PS4Y</string>
						<key>name</key>
						<string>SMOOSE TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9DA21EE2F8E3FC744CDEECFDA69F094D480A2415</string>
						<key>dateExpires</key>
						<string>22/08/25</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>video_player_avfoundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J3MA58PS4Y</string>
						<key>name</key>
						<string>SMOOSE TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9DA21EE2F8E3FC744CDEECFDA69F094D480A2415</string>
						<key>dateExpires</key>
						<string>22/08/25</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>workmanager.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J3MA58PS4Y</string>
						<key>name</key>
						<string>SMOOSE TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>J3MA58PS4Y.com.smoose.photoowldev</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.siri</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>J3MA58PS4Y</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>75deb037-fde6-48b9-b45f-34f0e37677b6</string>
				<key>dateExpires</key>
				<string>25/08/25</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.smoose.photoowldev</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>J3MA58PS4Y</string>
				<key>name</key>
				<string>SMOOSE TECHNOLOGIES PRIVATE LIMITED</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.3</string>
		</dict>
	</array>
</dict>
</plist>
